<h3>Graph for Video ID: <%= @video.video_id %></h3>
<p><b>Length: </b><%= @video.length.strftime("%T") %></p>


<%= line_chart @data, ytitle: "Time in seconds", points: false %>

<% @video.VideoUsage.each do |usage| %>
  <p>Name: <%= usage.user.name %></p>
  <p>Watched until: <%= usage.watched.strftime("%T") %></p>
<% end %>
